<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jdrx.dm.core.mapper.JobMapper">
    <insert id="save">
        INSERT INTO JOB(
        job_id,
        job_business_id,
        job_source_id,
        job_status
        )VALUES(
        #{jobId},
        #{jobBusinessId},
        #{jobSourceId},
        #{jobStatus}
        )
    </insert>
    <update id="update"></update>
    <update id="executeUpdate"></update>
    <select id="query"></select>
    <select id="queryPager"></select>
    <select id="find"></select>
    <delete id="delete"></delete>
</mapper>