<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jdrx.dm.core.mapper.SourceMapper">
    <insert id="save">
        INSERT INTO SOURCE(
        source_id,
        instance_id,
        source_db,
        source_table
        )VALUES(
        #{sourceId},
        #{instanceId},
        #{sourceDb},
        #{sourceTable}
        )
    </insert>
    <update id="update"></update>
    <update id="executeUpdate"></update>
    <select id="query"></select>
    <select id="queryPager"></select>
    <select id="find"></select>
    <delete id="delete"></delete>
</mapper>